@font-face {
  font-family: 'PT Serif';
  src: url('/static/fonts/ptf56f-webfont.eot');
  src:
    url('/static/fonts/ptf56f-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/ptf56f-webfont.woff2') format('woff2'),
    url('/static/fonts/ptf56f-webfont.woff') format('woff'),
    url('/static/fonts/ptf56f-webfont.ttf') format('truetype');
}
