/* stylelint-disable */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea, button,
main, header, aside, section, footer {
  box-sizing: border-box;
  outline: 0;
  //font-family: $fontBase;
  font-size: inherit;
}

/* stylelint-enable */

main,
header,
aside,
section,
footer {
  display: block;
}

a {
  //color: $colorBlue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    //color: $colorBlueDark;
  }
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  //font: normal 400 #{$fontBig}/1.36 $fontBase;
  color: #000;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin-bottom: .9em;
}

/* .clear:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
} */

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}
