body {
  background: #000;
  color: #fff;
}

.div {
  border: 2px solid #fff;
  display: flex;
  flex: 1;
  column-count: 2;
}

a {
  margin: 0 10px;
  color: #fff;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
