@import 'reset';
@import 'fonts';
@import 'styles2';

body {
  font-size: 40px;
  background-image: url('/static/img/logo.svg');
  background-size: 30px 30px;
}

.div {
  background: url('/static/img/sprite/ava-2.jpg') no-repeat 100% 0;
}

.sans {
  font-family: PT Serif, sans-serif;
  font-style: normal;
  background: url('/static/img/sprite/ava-1.jpg') no-repeat 0 0;
}
